body{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.outerContainer{
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    height: 100vh;
    width: 100vw;

    justify-content: center;
    align-items: center;
}

.timerContainer{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 30px;
    background-color: white;
    height: fit-content;
    width: fit-content;

    justify-content: center;
    align-items: center;
}

.timerContainer h1{
    padding: 0;
    margin: 0;
}

#timer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(157, 71, 238);
}

#controlButtons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    margin-top: 10px;
}

#controlButtons *:hover{
    cursor: pointer;
}

#startButton{
    padding: 12px;
    background-color: rgb(65, 65, 246);
    border-radius: 50px;
}
#pauseButton{
    padding: 12px;
    background-color: rgb(248, 118, 168);
    border-radius: 50px;
}
#resetButton{
    padding: 12px;
    background-color: rgb(65, 213, 246);
    border-radius: 50px;
}

#setTimerBox{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 20px;
}

#setTimerInput{
    padding: 5px 20px;
    border-radius: 8px;
    width: 10%;
    border: 2px solid grey;
    outline: none;
}

#setTimerButton{
    padding: 5px 20px;
    border-radius: 12px;
    border: none;
    background-color: rgb(145, 238, 7);
    color: white;
    font-size: 15px;
    font-weight: 700;
}

#sessionCounterBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(240, 174, 127);
    border-radius: 10px;
    width: 100%;
    margin-top: 10px;
}

#sessionCounter{
    font-size: 50px;
    margin: 0px;
    padding-bottom: 10px;
    color: rgb(190, 86, 11);
}